openapi: 3.0.2
info:
  version: 2.0.1
  title: Corrently.io
  termsOfService: 'https://corrently.io/terms/'
  contact:
    email: dev@stromdao.com
    url: 'https://stromdao.de/kontakt'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://corrently.de/assets/img/Corrently_1000x252.png'
  description: >
    *Corrently - from italian corrente, which is energy*

    # Introduction

    The Corrently ecosystem gets maintained by [STROMDAO GmbH](https://www.stromdao.de/) to support
    green energy services for prosumers, grid operators, regulators, integrators or any other party
    with an emerging need of consensus driven management.

    As the [energy product Corrently](https://www.corrently.de/) got first launched in Germany parts
    of this documentation provide simple translations for better understanding.

    [Released SKDs for Download](https://github.com/energychain/corrently-api/releases)
tags:
  - name: Stromkonto (Ledger)
    description: >
      Managing accounts and balances for market partners (eq. households, grid operators, traders,..)
      Stromkonto is based on distributed ledger technology (AKA Blockchain). Instead of using the REST Api to access any energy ledger, you might act as a blockchain node and use the published ABI definitions to get the same results and/or run transactions directly.
  - name: GreenPowerIndex (GrünstromIndex)
    description: >
      Green Power Index (GrünstromIndex), an AI based service to forecast energy sources in the grid (regionale Stromherkunft).

      Further Details and sample implementation is available at [gruenstromindex.de](https://www.gruenstromindex.de/).
  - name: Dispatch (Green Energy Distribution API)
    description: >
      Provides latest dispatch information of green energy at a specific location in Germany (Herkunft/GrünstromMix). It allows to do schedule management (Fahrplanmanagement) of green energy generation facilities, demand and resilience management for grid operators.
      The public version (OpenAPI) is always post fact. If you are interessted in pre fact (forecast) data, you might get in contact with STROMDAO GmbH.
  - name: Metering (Decorator)
    description: >
      Allows to virtualy act as an Meter Point Operator by decorating meter readings with GreenPowerIndex (GrünstromIndex) handles.
      In principal this service decorates meter [OBIS Code](https://de.wikipedia.org/wiki/OBIS-Kennzahlen) 1.8.0 values to 1.8.1 and 1.8.2 according to the local and actual GSI value.
      A signature gets applied to the reading and all three OBIS values get hashed into the Energychain for consensus (e.q. creating balancing groups).
      CO2 footprint of a meter gets provided (as of first reading pushed).This works in conjunction with German Smart Meter Gateways (as of March 2020).
  - name: Tariff (Price API)
    description: Tariff information for the German market region. Provides base price and energy price information for private households (Standardlastprofil H0, SLP H0 Tarifinformation).
  - name: WiM (Wechselprozesse im Messwesen Strom - Status API)
    description: Access to status information of an existing metering change and allocation process.
  - name: SmartHome
    description: Helper services and endpoints for smarthome and home automation systems.
  - name: OpenMETER
    description: Alternative access to OpenMeter Data.
  - name: easee
    description: Alternative access to EASEE.cloud Data.
  - name: OCPP
    description: Alternative access to Corrently OCPP Data (hosted cloud backend).
  - name: GHGS
    description: Track and Tŕace of EV-Charging for Greenhouse Gas Saving certification
  - name: Strom-Quittung
    description: >
      Self-Service to create a full receipt (Quittung) for energy delivery in case of submetering.
      Please refer to [Strom-Quittung](http://strom-quittung.de) for a sample usage.
  - name: CO2-Offset
    description: >
      VCS Verified CO2 Emission Reduction in accordance with the requirements of ISO 14064-1 (Gold Standard). Calculate and get certificates, validate existing certificates.
  - name: TSE
    description: Technische Sicherheitseinrichtung - use in context of strom-quittungen to get digitaly signed receipts.
servers:
  - url: 'https://api.corrently.io/v2.0'
paths:
  '/co2/compensate':
        $ref: './paths/co2-compensate.yaml'
  '/co2/price':
      $ref: './paths/co2-price.yaml'
  '/co2/sources':
      $ref: './paths/co2-sources.yaml'
  '/stromkonto/register':
    $ref: './paths/stromkonto-register.yaml'
  '/stromkonto/login':
    $ref: './paths/stromkonto-login.yaml'
  '/stromkonto/choices':
    $ref: './paths/stromkonto-choices.yaml'
  '/stromkonto/balances':
    $ref: './paths/stromkonto-balances.yaml'
  '/stromkonto/prepareTransaction':
    $ref: './paths/stromkonto-prepareTransaction.yaml'
  '/gsi/prediction':
    $ref: './paths/gsi-prediction.yaml'
  '/gsi/dispatch':
    $ref: './paths/gsi-dispatch.yaml'
  '/gsi/marketdata':
    $ref: './paths/gsi-marketdata.yaml'
  '/metering/reading':
    $ref: './paths/metering-reading.yaml'
  '/tariff/slph0':
    $ref: './paths/tariff-slph0.yaml'
  '/tariff/components':
    $ref: './paths/tariff-components.yaml'
  '/quittung/prepare':
    $ref: './paths/quittung-prepare.yaml'
  '/quittung/commit':
    $ref: './paths/quittung-commit.yaml'
  '/quittung/create':
    $ref: './paths/quittung-create.yaml'
  '/quittung/tse':
    $ref: './paths/quittung-tse.yaml'
  '/quittung/tsedata':
    $ref: './paths/quittung-tsedata.yaml'
  '/quittung/tsesignature':
    $ref: './paths/quittung-tsesignature.yaml'
  '/quittung/zugferd':
    $ref: './paths/quittung-zugferd.yaml'
  '/bucket/create':
    $ref: './paths/ghgs-create.yaml'
  '/wim/status':
    $ref: './paths/wim-status.yaml'
  '/gsi/bestHour':
    $ref: './paths/gsi-besthour.yaml'
  '/alternative/openmeter/meters':
    $ref: './paths/openmeter-meters.yaml'
  '/alternative/openmeter/activities':
    $ref: './paths/openmeter-activities.yaml'
  '/alternative/openmeter/readings':
    $ref: './paths/openmeter-readings.yaml'
  '/alternative/easee/lastSessions':
    $ref: './paths/easee-lastSessions.yaml'
  '/alternative/ocpp/lastSessions':
    $ref: './paths/ocpp-lastSessions.yaml'
