openapi: 3.0.2
info:
  version: 2.0.0
  title: Corrently.io
  termsOfService: 'https://corrently.io/terms/'
  contact:
    email: dev@stromdao.com
    url: 'https://stromdao.de/kontakt'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://corrently.de/assets/img/Corrently_1000x252.png'
  description: >
    *Corrently - from italian corrente, which is energy*

    # Introduction

    The Corrently ecosystem gets maintained by [STROMDAO GmbH](https://www.stromdao.de/) to support
    green energy services for prosumers, grid operators, regulators, integrators or any other party
    with an emerging need of consensus driven management.

    As the [energy product Corrently](https://www.corrently.de/) got first launched in Germany parts
    of this documentation provide simple translations for better understanding.
tags:
  - name: Stromkonto (Ledger)
    description: Managing accounts and balances for market partners (eq. households, grid operators, traders,..)
  - name: GreenPowerIndex (GrünstromIndex)
    description: >
      Green Power Index (GrünstromIndex), an AI based service to forecast energy sources in the grid (regionale Stromherkunft).

      Further Details and sample implementation is available at [gruenstromindex.de](https://www.gruenstromindex.de/).
  - name: Metering (Decorator)
    description: >
      Allows to virtualy act as an Meter Point Operator by decorating meter readings with GreenPowerIndex (GrünstromIndex) handles.
      In principal this service decorates meter [OBIS Code](https://de.wikipedia.org/wiki/OBIS-Kennzahlen) 1.8.0 values to 1.8.1 and 1.8.2 according to the local and actual GSI value.
      A signature gets applied to the reading and all three OBIS values get hashed into the Energychain for consensus (e.q. creating balancing groups).
      CO2 footprint of a meter gets provided (as of first reading pushed).This works in conjunction with German Smart Meter Gateways (as of March 2020).
servers:
  - url: 'https://api.corrently.io/v2.0'
paths:
  '/stromkonto/register':
    $ref: './paths/stromkonto-register.yaml'
  '/stromkonto/login':
    $ref: './paths/stromkonto-login.yaml'
  '/stromkonto/balances':
    $ref: './paths/stromkonto-balances.yaml'
  '/stromkonto/prepareTransaction':
    $ref: './paths/stromkonto-prepareTransaction.yaml'
  '/gsi/prediction':
    $ref: './paths/gsi-prediction.yaml'
  '/metering/reading':
    $ref: './paths/metering-reading.yaml'
